<!-- index ( / ) In ERB -->
<title> <%= title %> </title>

<h1><a href="/">Message Board Version 4.0</a></h1>



<div align="right">
	<h3>
	<label>Current User:  <%= session['user'].username %></label><br>
	<a href="/logout">Login out</a>
	</h3>
</div>

<div id="form-group" align="center">
	<form class="form-inline" method='get' action="/author">
		<label>Author:</label>
		<input class="form-control" type='text' name="author">
		<button type='submit' class="btn btn-default">Search</button>
	</form>
	<form class="form-inline" method='get' action="/id">
		<label>&nbsp;&nbsp;&nbsp;&nbsp;ID:&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input class="form-control" type='text' name="id">
		<button type='submit' class="btn btn-default">Search</button>
	</form>
	<form class="form-inline" method='get' action="/date">
		<label>&nbsp;&nbsp;Date&nbsp;&nbsp;</label>
		<input class="form-control" type='text' name="date">
		<button type='submit' class="btn btn-default">Search</button>
	</form>

<section id="messages">
<p>
当前共有<%=@hash.size %>条留言
</p>
  <%	i=@under.size-1
	while(i>=0) do
	message = @hash[@under[i]] %>
    <form action="delete" method="post">
    <article class="post">

        <h1><%= message.mess_id %></h1>

				<section class="content">
	        <%= message.mess %>
	      </section>

        <div class="date" align="right"><%= message.created_at %> - by <%= message.author %></div>

      <input type="type" value="<%= message.id%>" name="deleteid" style="display:none">
      <div align="right"><input type="submit" value="删除" ></div>
    </article>
    </form>
  <hr>
  <%	i=i-1
	end %>
</section>

</div>

<div align="center" > <!-- for beauty! -->
<a href="/add"><button type="button" class="btn btn-link" >Leave Message>></button></a>


</div>
